//$primary: #d84339;
//$secondary: #373234;  
//$text: #f3ece4;
$gradient: linear-gradient(to bottom, #d84339, #373234);



$primary: #4048FF;
$secondary: #FF5A36;
$yellow: #FFC700;
$text: #f3ece4;
$darkText: #373234;  
