*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
}

body{
    background: url("../assets/images/bg.png") no-repeat;
    background-size: cover;
    font-size: 10px;
    animation: 2s ease fadeIn;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
}

input, textarea{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.438);
    outline: none;
    background-color: $text;
}

.form-wrapper{
    background: $text;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.btn {
    padding: 4px 14px;
    outline: none;
    border: none;
    color: $text;
    font-size: 1.7em;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
    transition: 1s ease;
    &:hover {
      transform: translateY(2px);
      cursor: pointer;
    }
    &-orange{
        background: $secondary;
    }
}

/* animations */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes welcome {
    0% {
      transform: translate(0);
    }
  
    10% {
      transform: translate(-2px, -2px);
    }
  
    20% {
      transform: translate(2px, -2px);
    }
  
    30% {
      transform: translate(-2px, 2px);
    }
  
    40% {
      transform: translate(2px, 2px);
    }
  
    50% {
      transform: translate(-2px, -2px);
    }
  
    60% {
      transform: translate(2px, -2px);
    }
  
    70% {
      transform: translate(-2px, 2px);
    }
  
    80% {
      transform: translate(-2px, -2px);
    }
  
    90% {
      transform: translate(2px, -2px);
    }
  
    100% {
      transform: translate(0);
    }
}